iot/scripts/lab11/node-red-demo-flows.json
[{"id":"5ca75193.0858d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"233c478.7d71fb8","type":"inject","z":"5ca75193.0858d","name":"TestMessage","topic":"iot","payload":"{ \"message\":\"Test Message from Node Red\" }","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":120,"wires":[["3f7b5359.cc61dc"]]},{"id":"3f7b5359.cc61dc","type":"mqtt out","z":"5ca75193.0858d","name":"HellowAWSIoT","topic":"iot","qos":"0","retain":"","broker":"ffe632a1.494b6","x":830,"y":140,"wires":[]},{"id":"72dd691.950ff98","type":"rpi-sensehatsim in","z":"5ca75193.0858d","name":"","motion":false,"env":true,"stick":false,"x":400,"y":300,"wires":[["3f7b5359.cc61dc"]]},{"id":"31e0e22e.29d52e","type":"rpi-sensehatsim in","z":"5ca75193.0858d","name":"Critical Button","motion":false,"env":false,"stick":true,"x":390,"y":500,"wires":[["491d7200.3ff4d"]]},{"id":"491d7200.3ff4d","type":"mqtt out","z":"5ca75193.0858d","name":"Critical Topic","topic":"/rat/critical","qos":"0","retain":"false","broker":"ffe632a1.494b6","x":750,"y":500,"wires":[]},{"id":"8d253550.3c3718","type":"mqtt in","z":"5ca75193.0858d","name":"Critical Alert","topic":"/rat-lcd","qos":"0","datatype":"auto","broker":"ffe632a1.494b6","x":400,"y":660,"wires":[["68d1bd1e.522944"]]},{"id":"68d1bd1e.522944","type":"rpi-sensehatsim out","z":"5ca75193.0858d","name":"","x":740,"y":660,"wires":[]},{"id":"ffe632a1.494b6","type":"mqtt-broker","z":"","name":"data.iot.us-west-2.amazonaws.com","broker":"data.iot.us-west-2.amazonaws.com","port":"8883","tls":"e7720f9e.2c408","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7720f9e.2c408","type":"tls-config","z":"","name":"AWSIoT","cert":"/home/ec2-user/workspace/lab1/ratchet/ratchet.cert.pem","key":"/home/ec2-user/workspace/lab1/ratchet/ratchet.private.key","ca":"/home/ec2-user/workspace/lab1/rootCA.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]